# Ignorar ejecutables y archivos del juego
PrincessAndPrince.exe
lz4.dll
steam_api64.dll
OSS.html
changelog.txt
data.dat

# Ignorar carpeta de archivos extraídos (creada por QuickBMS)
DATA/

# Ignorar carpetas temporales de la herramienta de texto
BIN/dat/
BIN/txt/
BIN/new_dat/

# Excepciones de las herramientas en BIN
!BIN/fafullfs.bms
!BIN/LPBP_dat.exe
!BIN/quickbms.txt
!BIN/quickbms.exe
